In [8]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression

1. Решите задачу регресси для наборы x = [0, 1, 2, 3], y = [4, 7, 7, 8]

In [2]:
x = np.array([0, 1, 2, 3])
y = np.array([4, 7, 7, 8])

In [4]:
b = np.corrcoef(x, y)[0, 1] * y.std() / x.std()
a = y.mean() - b * x.mean()

print(a, b)

4.699999999999999 1.2000000000000002

In [10]:
model = LinearRegression()
model.fit(x.reshape(-1, 1), y.reshape(-1, 1))

print(model.intercept_.item(), model.coef_.item())

4.699999999999999 1.2000000000000004

2. Рассмотреть задачу прогнозирование цен на примере набора данных Houses.csv:
    - какие признаки наиболее всего влияют, по Вашему мнению, на цену?
    - возможно ли уменьшить количество признаков?
    - есть ли пропуски в данных?
    - можно ли обойтись одним параметром? выберите один и решите задачу.
    - оставьте несколько параметров и решите задачу многомерной регрессии.

In [9]:
df = pd.read_csv('data/Houses.csv', index_col=0)
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [11]:
y = df['price']
X = df[df.columns.drop(['id', 'date', 'price', 'lat', 'long'])]

In [12]:
X.corrwith(y).abs().sort_values(ascending=False)

sqft_living      0.702035
grade            0.667434
sqft_above       0.605567
sqft_living15    0.585379
bathrooms        0.525138
view             0.397293
sqft_basement    0.323816
bedrooms         0.308350
waterfront       0.266369
floors           0.256794
yr_renovated     0.126434
sqft_lot         0.089661
sqft_lot15       0.082447
yr_built         0.054012
zipcode          0.053203
condition        0.036362
dtype: float64

In [13]:
x = X['grade']
pair_model = LinearRegression()
pair_model.fit(x.array.reshape(-1, 1), y.array.reshape(-1, 1))
predict = pair_model.predict(x.array.reshape(-1, 1))
pair_model.score(x.array.reshape(-1, 1), y.array.reshape(-1, 1))

0.44546848610928724

In [14]:
x = X[['sqft_living', 'grade', 'sqft_above', 'bathrooms']]
mult_model = LinearRegression()
mult_model.fit(x, y)
predict = mult_model.predict(x)
mult_model.score(x, y)

0.5435423397100239